*{

}

body{
    font-family: monospace ;

    background-color: black;
}

header{
    display: flex;
    justify-content: space-around;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cofecard1{
    text-align: center;
    width: 150px;
    border: 3px solid rgb(255, 6, 6);
    color: white;
    margin-top: 10px;
}

nav{
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    color: white;
    margin-left: 15px;
}


.cards{
    margin-top: 25px;
}

h1{
    color: rgb(73, 207, 73);
    text-align: center;
}




